@charset "utf-8";
/* CSS Document */

body{
background: #BAFF9A;
margin: 0% 20% 0% 20%;
padding: 20px;
font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
border: dotted 2px #375A21;
}

p{
	padding: 0% 20%;
}

h1{
	padding: 0% 25.5%;
}

h2{
	padding: 0% 25.5%;
}

h4{
	padding: 0% 40% 5%;
}

img {
	background-color: #333333;
	padding: 0% 10%;
	border: solid 1px;
}